{% load crispy_forms_tags %}

<!--<div class="row container-fluid">-->
<!--    <div>{{ form.artist|as_crispy_field }}</div>-->
<!--    <div>{{ form.album_title|as_crispy_field }}</div>-->
<!--    <div>{{ form.genre|as_crispy_field }}</div>-->
<!--    <div>{{ form.album_logo|as_crispy_field }}</div>-->
<!--    <button type="submit" class="btn btn-success">Save person</button>-->
<!--</div>-->

<div class="row container-fluid">
    {% for field in form %}
    <div>{{ field|as_crispy_field }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Save Album</button>
</div>